.glossary-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(270px, auto);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  margin-top: 40px;
}

.glossary-card {
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 20px;
  border: 1px solid rgba( 53,  36, 110, .5);
}

.glossary-card:hover {
  cursor: pointer;
  box-shadow: 0 0 15px #35246e;
  transform: scale(1.05);
}

.glossary-card__termin {
  margin: 0;
  color:#24135f;
  font-size: 20px;
}

.glossary-card__definition {
  margin-top: 5px;
  margin-bottom: 5px;
}